* {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(227, 227, 227);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo .title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.nav-bar {
  text-align: right;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list-item {
  margin-left: 20px;
}

.nav-list-item a {
  text-decoration: none;
  color: #555;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-list-item a:hover {
  color: #000;
}



#about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin-top: 20px;
}

.image-container {
  flex: 1;
  text-align: center;
  padding-right: 20px;
}

.img-profile {
  width: 80%;
  height: auto; /* keeps aspect ratio of img */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-container {
  flex: 2; /* takes up twice as much space as the img container*/
  padding-left: 20px;
}

.about-title {
  font-size: 20px;
  color: #505050;
  margin-bottom: 5px;
}

.about-text {
  font-size: 15px;
  color: #666666;
}
