* {
  font-family: Roboto;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(241, 241, 241);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  height: 50px;
}

.logo .title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.nav-bar {
  text-align: right;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list-item {
  margin-left: 20px;
}

.nav-list-item a {
  text-decoration: none;
  color: #555;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-list-item a:hover {
  color: #000;
}



#about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  gap: 0px;
}

.image-container {
  /* flex: 1; */
  width: 45%;
  max-width: 500px;
  text-align: center;
  padding-right: 10px;
}

.img-profile {
  width: 60%;
  height: auto; /* keeps aspect ratio of img */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-container {
  /* flex: 2; takes up twice as much space as the img container */
  width: 55%;
  max-width: 500px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-title {
  font-size: 20px;
  color: #505050;
  margin-bottom: 5px;
  padding-left: 15px;
}

.about-text {
  height: 60px;
  overflow-y: auto;  /* enables vertical scrolling when necessary */
  padding: 5px 15px;
  font-size: 15px;
  color: #666666;
  word-wrap: break-word;
}


.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  margin: auto; /* centers the grid in its parent container */
  grid-gap: 40px;
  padding: 20px;
}

.project-item {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
}

.project-img {
  width: 100%;
  height: auto;
}

.work-title {
  display: flex;
  justify-content: center;
}
.project-title {
  display: flex;
  align-items: center; /* aligns title and icons vertically centered */
  justify-content: space-between; /* places title on left and icons on right */
  font-size: 18px;
  color: #323232;
  margin-bottom: 5px;
}

.project-text {
  font-size: 15px;
  color: #666666;
}


.project-links ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.project-links {
  display: flex;
}

.project-list-item {
  display: inline-block; /* Display links inline */
  margin-left: 10px;
}

.project-list-item a {
  text-decoration: none;
  color: #323232;
  font-weight: bold;
}

.project-list-item a:hover {
  color: #575757;
}

.project-description {
  display: flex;
  flex-direction: column;
}


.project-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: rgb(241, 241, 241);
  margin-top: 10px;
}

footer p {
  font-size: 15px;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: grey;
}

@media (max-width: 768px) {
  #about {
    flex-direction: column; /* stacks the flex children vertically*/
    align-items: center; /* centers the items when stacked */
  }

  .image-container, .about-container {
    flex: none; /* removes the flex grow and shrink */
    width: 100%; /* full width for small screens */
    padding: 10px 0; /* adjusts padding for a vertical layout */
    text-align: center; /* centers the text inside the containers */
  }

  .img-profile {
    width: 50%; /* Makes the image smaller on smaller screens */
  }

  .work-title {
    display: flex;
    justify-content: center;
  }

  .project-container {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
}
